<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-lg-none" href="#"><img src="https://codingyaar.com/wp-content/uploads/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbarToggler"
            aria-controls="myNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href={{ path('home_index') }}>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('team') }}>Equipe</a>
            </li>
            <a class="d-none d-lg-block" href={{ path('home_index') }}><img src="https://codingyaar.com/wp-content/uploads/logo.png"></a>
            <li class="nav-item">
                <a class="nav-link" href={{ path('guest_rooms_index') }}>Séjourner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('tour_index') }}>Visiter</a>
            </li>
        </ul>
    </div>
</nav>
