{% extends 'base.html.twig' %}

{% block title %}Clos de l'Epinay - Visites{% endblock %}

{% block body %}
    <div class="home-message text-center px-5 pt-5">
        {% for tour in tours %}
            {% if loop.last %}
                <h1>{{ tour.title }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-outline btn-floating rounded-circle"
                           href={{ path('tour_edit', {'id': tour.id}) }} >
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    {% endif %}
                </h1>
                <p>
                    {{ tour.message }}
                </p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container-fluid px-5 pt-5">
        <div class="row g-0">
            <div class="col-lg-6 px-5">
                <img class="img-fluid img-thumbnail" src="{{ asset('03250015.jpg') }}" alt="...">
            </div>
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-5 pt-5">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="col-lg-6 px-5">
                <img class="img-fluid img-thumbnail" src="{{ asset('P1090574.png') }}" alt="...">
            </div>
        </div>
    </div>
    <div class="container-fluid px-5 pt-5">
        <div class="row g-0">
            <div class="col-lg-6 px-5">
                <img class="img-fluid img-thumbnail" src="{{ asset('P1100724.jpg') }}" alt="...">
            </div>
            <div class="col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
